body {
    font-family: Helvetica, sans-serif;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #00FFF7;
    border: 2px solid #A500F0;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
}

.card p {
    font-size: 20px; 
    margin: 10px 0;
.photo {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
		
}
}
